{% extends "base.html" %}


{% load i18n %}
{% load package_tags static %}

{% block head_title %}{{ doc.title }} - {{ package.elm_name }} {{ version.number }}{% endblock %}

{% block extra_head %}
	<meta name="description" content="{{ package.repo_description }}" />
	<meta name="keywords" content="{{ package.grid_set.all|join:',' }}" />
	<link rel="canonical" href="{{ doc.get_latest_url }}">
	{{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>
						<a href="{% url 'packages' %}">Packages</a> ››
						<a href="{% url 'package' slug=package.slug %}">{{ package.title }}</a> ››
						<a href="{{ version.get_absolute_url }}">{{ version.number }}</a> ››
						{{ doc.title }}
                    </h2>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6 main">
			<h1>{{ doc.title }}</h1>
			{{ doc.content|safe}}
		</div>
		{% include 'package/snippets/sidebar.html' %}
	</div>
{% endblock %}

